/* iPhone, Android rules here */

#container, #navigation {
  width:100vw !important;
}

#content {
  width:90vw !important;
}

#page-title {
  font-size:25pt !important;
  text-align:center;
}

#footer {
  height:300px !important;
}

#left, #right {
  clear:both !important;
  display:block !important;
}

#content ul {
 width:90vw;
}

.date {
  clear:both !important;
  display:block !important;
  width:90vw !important;
  margin-top:5px;
  margin-bottom:5px;
}

#content li > h3.tags {
    text-align:center !important;
}

#page-title, #navigation {
    margin-bottom:20px !important;
}

li.links, li.posts {
    display:block !important;
    margin-bottom:40px !important;
}

li > a.title {
  width:85vw !important;
}

/* mobile gallery */
#gallery {
  width:100% !important;
}

div.gallery-item {
  height:90px !important;
  width:90px !important;
}