html {
	background-color:white;
	font-family: 'Merriweather', serif;
	color:#516057;
}

body {
	width:800px;
	margin:auto;
	margin-top:50px;
}

a {
	text-decoration:none;
    color:#488F8F;
}

a:hover {
	color:#60BFBF;
}

#title {
	font-family: 'Unica One', cursive;
    text-transform: uppercase;
}

#title a {
    color:#0065BD;
    font-size:40pt;
}

#subtitle {
    color:gray;
    font-style:italic;
    font-size:18pt;
}

#myprojects {
    margin-top:20px;
}

.project {
    display:inline-block;
    border:1px solid #e0e0e0;
    padding:10px;
    margin-bottom:20px;
    height:75px;
    vertical-align:top;
    border-radius:5px;
    /* gradual hover effect */
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.project:hover {
    background-color:#f1f1f1;
}

.name {
    font-family: 'Unica One', cursive;
    color:#0065BD;
    text-transform: uppercase;
    font-size:15pt;
    padding-bottom:10px;
}

.description {
    color:#516057;
}

.left-col, .right-col {
    width:368px;
}

.left-col {
    margin-right:20px;
}

footer {
	text-align:center;
	border-top:thin solid #e0e0e0;
	padding-top:20px;
    margin-top:20px;
	font-size:10pt;
    height:100px;
}