@import url("mobile.css") screen and (max-device-width: 480px);

/* Changing some default styles */
* {
    margin:0;
    padding:0;
    -webkit-text-size-adjust: none;
}

.posts > hr {
    margin-bottom:10px;
    margin-top:5px;
}

html, body {
    height:100%;
}

body {
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  border-top:5px solid #778899;
  font-size:14pt;
}

p {
  line-height:1.5em;
}

a {
  text-decoration:none;
  color:#778899;
}

a:hover {
  color:black;
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 15px 0;
  font-weight:normal;
}

/* default lists and ul */
li, ul {
  list-style-type:none;
}

li > a.title, li > .date {
    display:inline-block;
    vertical-align:top;
}

li > a.title {
    width:500px;
}

/* style for posts that are clips or links */
li.links {
  list-style-type:circle;
  margin-bottom:15px;
}

/* style for posts that are on the blog page */
li.posts {
  margin-bottom:50px;
  list-style-type:none !important;
}

.date {
  float:right;
  font-size:12pt;
}

.summary {
    margin-top:20px;
    margin-bottom:20px;
}

#container {
  min-height:100%;
  width:100%;
}

#content {
    overflow:auto;
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:190px;
}

#navigation, #page-title, .pagination {
  text-align:center;
}

#footer #wrapper, #navigation, #container {
  width:100%;
}

#navigation {
  width:600px;
  margin:0 auto 50px auto;
}

.navlink {
  display:inline-block;
  padding:10px 20px 10px 20px;
}

img.logo {
  width:100px;
  margin:20px auto 10px auto;
  display:block;
  border-radius:1000px;
  border:1px solid #E8E8E8;
}

#page-title {
  text-align:center;
  font-size:30pt;
  margin-bottom:60px;
}

/* Style for Footer */
#footer, #left, #right {
  color:white;
}

#footer {
    margin-top: -170px;
    height:170px;
    background-color: #778899;
    border-top: 6px solid #E8E8E8;
    line-height: 18px;
    font-size: 14px;
    clear:both;
}

#left, #right {
  width:260px;
  margin:20px;
}

#left {
  float:left;
  text-align:left;
}

#right {
  float:right;
  text-align:right;
}

#footer a {
  color:#D3D3D3;
}

#footer a:hover {
  color:white;
}

#credit {
  margin-top:20px;
}

/* gallery */
#gallery {
  width:672px;
  margin:0 auto 20px; auto;
}

div.gallery-item {
  display:inline-block;
  vertical-align:top;
  border: 1px solid #E8E8E8;
  height:75px;
  width:75px;
  overflow:hidden;
  margin-bottom:6px;
}

.gallery-item > a > img {
  min-height:100%;
  min-width:100%;
}