<h2>Contact</h2>
<ul>
   <li>E-mail: <a href="mailto:kcadycatalfamo@gmail.com">kcadycatalfamo@gmail.com</a></li>
   <li>Facebook: <a href="https://www.facebook.com/klottman" target="_blank">klottman</a></li>
   <li>Twitter: <a href="https://twitter.com/kccatalfamo" target="_blank">kccatalfamo</a></li>
   <li>Instagram: <a href="http://instagram.com/kccatalfamo/" target="_blank">kccatalfamo</a></li>
   <li>LinkedIn: <a href="https://www.linkedin.com/pub/kelly-catalfamo/18/aa6/803" target="_blank">Kelly Catalfamo</a></li>
   <li>Flickr: <a href="https://www.flickr.com/photos/89860747@N08/" target="_blank">katalfamo</a></li>
</ul>