{% for gallery_id in page.gallery %}
  <div id="gallery">
  {% for g in site.data.galleries %}
    {% if g.id == gallery_id %}
    <a href="{{ site.url }}/gallery/{{ g.folder }}/">
      <h3>{{ g.description }}</h3>
    </a>
      <!-- begin image gallery -->
      {% for i in g.images %}
      <div class="gallery-item">
      <a href="{{ site.url }}/gallery/{{ g.folder }}/{{ i.image }}" data-lightbox="gallery" data-title="{{ i.caption }}"><img src="{{ site.url }}/gallery/{{ g.folder }}/{{ i.thumb }}" /></a>
      </div>
      {% endfor %}
      <!-- end image gallery -->
    {% endif %}
  {% endfor %}
  </div>
{% endfor %}