body {
    background-color:white;
    text-rendering:optimizeLegibility;
    font-family: 'Oswald', sans-serif;
}

#container {
    margin-left:auto;
    margin-right:auto;
    width:900px;
    margin-top:30px;
    height:100%;
}

#header {
    width:900px;
    height:60px;
}

#title {
    display:inline-block;
    font-size:30pt;
    color:rgb(184,25,49);
}

#subtitle {
    display:inline-block;
    padding-top:13px;
    margin-left:2px;
    font-size:12pt;
}

#navigation {
    float:right;
    display:inline;
    padding-top:28px;
}

#navigation ul {
    text-align:center;
    padding:0;
    margin:0;
}

#navigation li {
    display:inline;
    list-style-type:none;
    text-align:center;
    margin-left:20px;
    padding-left:10px;
    padding-right:10px;
}

#navigation li a:hover {
    color:rgb(184,25,49);
}

#navigation li a {
    color:black;
    text-decoration:none;
    font-weight:300;
}

#content {
    height:462px;
    box-shadow: 0 0 2px gray;
    border:1px solid #C0C0C0;
    border-radius:5px;
    display:block;
    overflow:hidden;
    background-color:white;
}

#frontpage {
    height:462px;
    box-shadow: 0 0 2px gray;
    border:1px solid #C0C0C0;
    border-radius:5px;
    display:block;
    overflow:hidden;
    
    background-image:url('images/homepage-2.jpg');
    background-position:center;
    background-size:900px;
}

#content p {
    float:right;
    font-weight:300;
    width:550px;
    margin-left:10px;
    margin-right:20px;
}

.hours, .contactinfo {
    float:left;
    display:inline;
    width:120px;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    color:rgb(184,25,49);
}

.hours {
    width:200px;
    height:150px;
}

.hours li {
    list-style-type:none;
}

.contactinfo {
    text-align:right;
    padding-top:15px;
    height:150px;
}

.vspace {
    margin-top:460px;
}

.side-image {
  float:left;
  background-color:black;
  margin-right:5px;
  height:462px;
  width:300px;
  border-right:1px solid rgb(184,25,49);
  overflow:hidden;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

.side-image img {
  min-width:300px;
  min-height:462px;
}

h1 {
    text-align:center;
    padding-bottom:0px;
    padding-top:0px;
    margin-top:0px;
    font-weight:normal;
}

h2 {
  margin-left:8px;
  display:inline-block;
  width:550px;
  vertical-align:top;
  margin-top:5px;
  margin-bottom:0px;
  font-weight:normal;
  
}

#menusection {
    width:300px;
    float:left;
    margin:10px;
    margin-top:30px;
}

#menusection h1 {
    font-size:16pt;
    font-weight:normal;
}

#menusection li {
    list-style-type:none;
    font-weight:300;
}

.item {
    display:block;
    text-align:left;
    width:155px;
    margin-bottom:1px;
    margin-top:1px;
    float:left;
}

.price {
    display:block;
    text-align:left;
    margin-left:50px;
    margin-bottom:1px;
    margin-top:1px;
    width:10px;
    float:left;
}

#gcal-events {
  width:560px;
  float:right;
}

.event {
  display:block;
  width:500px;
  margin:10px;
  height:100%;
  border:1px solid black;
  vertical-align:top;
  border-radius:5px;
  padding:5px;
  font-weight:300;
}

.event-title {
  font-weight:normal;
}

.event-content {
  margin-left:20px;
}

.event:first-child {
  border:3px solid rgb(184,25,49);
}

.scroll {
  overflow:scroll;
  height:420px;
}

.scroll-menu {
  overflow:scroll;
  height:462px;
}