<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    
    <!-- mobile layouts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- for lightbox gallery -->
    <script src="/lightbox/js/jquery-1.11.0.min.js"></script>
    <script src="/lightbox/js/lightbox.min.js"></script>
    <link href="/lightbox/css/lightbox.css" rel="stylesheet" />
    
    {% if page.description %}
    <!-- page description -->
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    
    <link rel="stylesheet" type="text/css" href="/style.css" />
    
    {% if page.style %}
    <!-- special page formatting -->
     <style type="text/css">
         {{ page.style }}
     </style>
     <!-- end special formatting -->
    {% endif %}
    
    <title>Kelly C. Catalfamo</title>
</head>

<body>
    <div id="container">
    
        {% include header.html %}
    
        <!-- content of page or posts -->
        <div id="content">{{ content }}</div>   
        
    </div>
    
    {% include footer.html %} 
    
</body>

</html>
