<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    
    <!-- mobile layouts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if page.description %}
    <!-- page description -->
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    
    <link rel="stylesheet" type="text/css" href="/style.css" />
    
    {% if page.style %}
    <!-- special page formatting -->
     <style type="text/css">
         {{ page.style }}
     </style>
     <!-- end special formatting -->
    {% endif %}
    
    <title>Kelly C. Catalfamo</title>
</head>

<body>
    <div id="container">
    
    <!-- header contains logo, navigation, and title -->
    <div id="header">
        <a href="/"><img class="logo" src="/logo.jpg" /></a>
        <div id="navigation">
        {% include pages.html %}
        </div>
        
        <div id="page-title">
            {% if page.title %}
            {{ page.title }}
            {% else %}
            Kelly C. Catalfamo
            {% endif %}
        </div>
        
    </div>
    
    <!-- content of page or posts -->
    <div id="content">

    {{ content }}
    
    </div>
    
    </div>
   
    <!-- footer contains other information-->
    <div id="footer">
        <div id="wrapper">
            
            <div id="left">
            {% include contact.html %}
            </div>
            
            <div id="right">
            <div id="quote"><i>"Nothing in life is to be feared, it is only to be understood."</i> Marie Curie</div>
            <div id="credit">Website designed by <a href="http://jmv.me">Julia Van Cleve</a></div>
            </div>
        </div>
    </div>
    
</body>

</html>
